python-dotenv
pymilvus
langchain
langchain-huggingface
langchain-experimental
langchain-openai
docling
sentence-transformers
langfuse
duckduckgo-search
fastapi
uvicorn
pyjwt
passlib
bcrypt
sqlalchemy
python-multipart
requests
